body {
  margin: 0;
}
#container {
  width: 100%;
  height: 600px;
  overflow: scroll-x;
}

#grid-parent {
  width: 200%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  box-sizing: border-box;
  border: black 1px solid;
  width: 5%;
  height: 5%;
}

.playing {
  animation: 3s play linear;
}

@keyframes play {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}